div{
    background-color: rgb(161, 68, 85);
    border: 1px solid green;
    margin: 10px;
}

main{
    border: 1px solid black;
    background-color: grey;
    width: 50%;
}

/* if you want to call on an id use # */

#first-div{
    background-color: green;
}

/* if you want to call on an class use . */

li{
    color: blue;
}

header nav ol li{
    color: red;
}

body{
    background-color: beige;
    color: purple;
}

ol{
    list-style-type: none;
}

a{
    margin: 10px;
    color: black;
    padding: 10px;
    text-decoration: none;
}